<nav>
  <h1>Budgetify</h1>
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="/admin"><li>Admin</li></a>
    <a href="/auth"><li>Login</li></a>
    <a href="/users/0"><li>Specific User</li></a>
    <a href="/"><li>Logout</li></a>
  </ul>
</nav>
