@use "src/sass/variables.scss" as var;
@use "src/sass/mixins.scss" as mixin;
:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.account-card-list {
  &__add-button {
    color: var.$textColor;
    background: var.$cardGradient;
    border: none;
    border-radius: var.$borderRadius;
    color: var.$textLight;
    padding: 9px 10px;
    display: block;
    margin: 0 auto 20px;
    width: 100%;
  }
}

.spinner {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

:ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #d963d2;
}
