@use "src/sass/variables.scss" as var;
@use "src/sass/mixins.scss" as mixin;
:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.account-card-list {
  &__add-button,
  &__add-button-bottom {
    color: var.$textColor;
    background: var.$cardGradient;
    border: none;
    border-radius: var.$borderRadius;
    color: var.$textLight;
    padding: 9px 10px;
  }

  &__add-button {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
    fa-icon {
      margin-right: 6px;
    }
  }

  &__add-button-bottom {
    position: fixed;
    border-radius: 0 var.$borderRadius var.$borderRadius 0;
    padding: 6px 10px;
    left: 0;
    bottom: 20px;
    z-index: 100;
  }
}

:ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #d963d2;
}
