// colors
$bgColor: #efefef;
$textColor: #373737;
$textDanger: #ee3f19;
$textSuccess: #00a859;
$paperBg: #f9f9f9;
$infoBg: #b9e2e6;

$paperPadding: 20px;
$paperBoxShadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

$borderRadius: 10px;

@mixin paper(
  $padding: $paperPadding,
  $bg: $paperBg,
  $borderRadius: $borderRadius
) {
  padding: $padding;
  background-color: $bg;
  border-radius: $borderRadius;
}
