@use "src/sass/variables.scss" as var;

.table-cover {
  border-radius: var.$borderRadius;
  width: 800px;
  margin-top: 20px;
  table {
    width: 100%;
    border-radius: var.$borderRadius;
    th,
    td {
      font-size: 16px;
    }
  }
}

.fw-bold {
  font-weight: bold;
}

.monthly {
  &__date {
    width: 400px;
  }
  &__paginator {
    border-radius: 0 0 var.$borderRadius var.$borderRadius;
  }
}

.header-left {
  border-top-left-radius: var.$borderRadius;
}

.header-right {
  border-top-right-radius: var.$borderRadius;
}

.chart {
  height: 500px;
  width: 90%;
  padding: 20px 0;
}
