<div class="account-info">
  <div class="account-info__header">
    <p>Account information</p>
    <div>
      <button
        (click)="editAccountForm(account)"
        mat-button
        class="dialog_header__close-button"
        mat-dialog-close
      >
        <fa-icon class="account-info__edit-button" [icon]="faEdit"></fa-icon>
      </button>
      <button
        (click)="deleteAccountConfirm(account._id)"
        mat-dialog-close
        mat-button
        class="dialog_header__close-button"
      >
        <fa-icon class="account-info__delete-button" [icon]="faTrash"></fa-icon>
      </button>
      <button mat-button mat-dialog-close class="dialog_header__close-button">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
  </div>
  <div mat-dialog-content class="account-info__body">
    <div class="account-info__body__title">
      <p>Title:</p>
      <p>{{ account.title }}</p>
    </div>
    <div class="account-info__body__balance">
      <p>Balance:</p>
      <p>{{ account.balance }}</p>
    </div>
    <div class="account-info__body__currency">
      <p>Currency:</p>
      <p>{{ account.currency }}</p>
    </div>
    <div class="account-info__body__description">
      <p>Description:</p>
      <p>{{ account.description }}</p>
    </div>
  </div>
  <mat-dialog-actions class="dialog-body__actions" align="end">
    <button mat-button cdkFocusInitial [mat-dialog-close]="false">Close</button>
  </mat-dialog-actions>
</div>
