@use "src/sass/variables.scss" as var;
@use "src/sass/mixins.scss" as mixin;

.account-card {
  background: var.$cardGradient;
  max-width: 350px;
  min-width: 250px;
  width: 100%;
  margin: 0 auto;
  border-radius: var.$borderRadius;
  padding: var.$paperPadding;
  text-align: left;
  color: var.$textLight;
  margin-bottom: 20px;
  box-shadow: var.$paperBoxShadow;
  opacity: 0.5;
  position: relative;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
  }

  &__body {
    @include mixin.flex-between();
  }

  &__title {
    font-size: 28px;
    width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
  }

  &__balance {
    font-size: 32px;
    margin: 20px 0 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
  }

  &__currency {
    @include mixin.flex-center;
    color: var.$textLight;
    font-size: 18px;
    min-width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0.5px solid var.$textLight;
  }

  &__details {
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 14px;
  }
}
