// colors
$bgColor: #efefef;
$paperBg: #fff;
$infoBg: #b9e2e6;
$warningBg: hsla(327, 85%, 65%, 0.85);
$successBg: rgba(0, 168, 90, 0.9);

$textColor: #373737;
$textDanger: #ee3f19;
$textSuccess: rgba(0, 168, 90, 0.9);
$textLight: #fff;

$cardGradient: linear-gradient(
  to right bottom,
  #d963d2,
  #e75cbf,
  #f158ab,
  #f75898,
  #f95a86,
  #f66092,
  #f2669e,
  #ed6ca9,
  #d47ecc,
  #b091e4,
  #87a1ee,
  #63adeb
);

$paperPadding: 20px;
$paperBoxShadow: none;
$borderRadius: 10px;
