// colors
$bgColor: #efefef;
$paperBg: #f9f9f9;
$infoBg: #b9e2e6;
$warningBg: #f5c6cb;

$textColor: #373737;
$textDanger: #ee3f19;
$textSuccess: #00a859;

$paperPadding: 20px;
$paperBoxShadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
$borderRadius: 10px;
