<div class="dialog-header">
  <h1 mat-dialog-title>{{ category ? "Edit" : "Add" }} category</h1>
  <button mat-button mat-dialog-close class="dialog_header__close-button">
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>
</div>
<mat-dialog-content class="dialog-body">
  <form id="categoryForm" [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="dialog-body__row" appearance="outline">
      <mat-label>Category type</mat-label>
      <mat-select formControlName="type" cdkFocusInitial>
        <mat-option [value]="'income'"> Income </mat-option>
        <mat-option [value]="'expense'"> Expense </mat-option>
      </mat-select>
      <mat-error *ngIf="addCategoryForm.invalid">{{
        getTypeError()
      }}</mat-error>
    </mat-form-field>
    <mat-form-field class="dialog-body__row" appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput />
      <mat-error *ngIf="addCategoryForm.invalid">{{
        getTitleError()
      }}</mat-error>
    </mat-form-field>
  </form></mat-dialog-content
>
<mat-dialog-actions class="dialog-body__actions" align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button
    mat-button
    type="submit"
    [disabled]="addCategoryForm.invalid"
    form="categoryForm"
  >
    {{ category ? "Save" : "Add" }}
  </button>
</mat-dialog-actions>
