<div class="edit-confirm">
  <div class="edit-confirm__header">
    <p>Delete Category</p>
    <button
      mat-button
      [mat-dialog-close]="false"
      class="dialog_header__close-button"
    >
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div mat-dialog-conten class="edit-confirm__body">
    <p>
      Are you sure you want to change the title of category? All your incomes
      will be updated according to the renamed category
    </p>
  </div>
  <mat-dialog-actions class="dialog-body__actions" align="end">
    <button mat-button [mat-dialog-close]="true">Yes</button>
    <button mat-button cdkFocusInitial [mat-dialog-close]="false">No</button>
  </mat-dialog-actions>
</div>
