.table-cover {
  width: 550px;
  &__paginator {
    border-radius: 0 0 10px 10px;
  }

  &__table-cover {
    border-radius: 10px 10px 0 0;
  }

  table {
    width: 550px;
    border-radius: 10px;
  }
}
