@use "src/sass/variables.scss" as var;
@use "src/sass/mixins.scss" as mixin;

.active {
  border-bottom: 1px solid var.$textColor;
  transition: 0.3s;
}

.header {
  @include mixin.flex-between;
  padding: 5px 20px;

  &__logo {
    min-width: fit-content;
  }

  &__logout {
    @include mixin.flex-between;
    width: 150px;
  }

  &__logo-link {
    font-weight: bold;
    font-size: 20px;
  }

  &__nav {
    @include mixin.flex-between;

    width: 75%;
  }

  &__nav-list {
    @include mixin.flex-between(35px);
    a {
      padding: 6px;
      display: block;
      transition: 0.3s;
      border-bottom: 1px solid transparent;
    }
  }

  &__button {
    span {
      display: inline-block;
      margin-left: 10px;
    }
  }
}
