@use "src/sass/variables.scss" as var;
@use "src/sass/mixins.scss" as mixin;

:host {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url("/assets/images/loginBg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auth-form {
  @include mixin.paper(40px 30px, rgba(255, 255, 255, 0.8));
  width: 90%;
  max-width: 450px;
  min-width: 250px;

  &__title {
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 37px;
    text-align: center;
  }

  &__row {
    display: block;
    margin-bottom: 20px;
    mat-error {
      font-size: 12px;
    }
  }

  &__button {
    padding: 8px;
    display: block;
    width: 100%;
    background-color: var.$infoBg;
    border: none;
  }

  &__links {
    text-align: center;
    margin-top: 30px;
    a {
      color: blue;
      text-decoration: underline;
    }
  }
}

::ng-deep .snackbar-error {
  background-color: var.$warningBg;
  color: var.$textLight;
  button {
    color: var.$textLight;
  }
}
