@use "src/sass/mixins.scss" as mixin;
:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.dialog-body {
  flex: 1;

  &__row {
    display: block;
    margin-bottom: 20px;
    mat-error {
      font-size: 12px;
    }
  }
}

.dialog-header {
  @include mixin.flex-between;
  margin-bottom: 10px;

  &__close-button {
    padding: 0;
    width: fit-content;
  }

  h1 {
    margin: 0;
  }
}
