@use "src/sass/variables.scss" as var;
@use "src/sass/mixins.scss" as mixin;
.cancel-confirm {
  display: flex;
  height: 100%;
  flex-direction: column;
  &__header {
    @include mixin.flex-between;

    p {
      margin: 0;
      font-weight: bold;
    }
  }

  &__body {
    flex: 1;
    margin-top: 20px;
  }
}
