@use "src/sass/variables.scss" as var;
@use "src/sass/mixins.scss" as mixin;
.transaction {
  @include mixin.paper(10px 20px);
  @include mixin.flex-between(20px);
  margin-bottom: 20px;
  &:hover {
    cursor: pointer;
  }

  &__content {
    width: 100%;
  }

  &__type {
    @include mixin.flex-center();
    align-self: stretch;
    min-width: 12%;
    border-radius: var.$borderRadius;
  }

  &__type-income {
    color: var.$textSuccess;
    font-size: 20px;
    margin: 0;
  }

  &__type-expense {
    color: var.$textDanger;
    font-size: 20px;
    margin: 0;
  }

  &__header {
    @include mixin.flex-between();
  }
}
